# Dependencies
node_modules
pnpm-lock.yaml

# Build output
dist
wiki/.vitepress/dist

# Cache
.vitepress/cache
wiki/.vitepress/cache
cache

# Local files
*.local
.DS_Store

# IDE
.vscode/
.idea/

# Reference projects
BIThesis-wiki-main/
